body{
    margin: 0 auto;
    padding: 0;
    color: black; 
    font-size: 10pt; 
    font-family: "Trebuchet MS", sans-serif;
}
#container{
    background-color: #e1eeee;
    width: auto;
    height: 700px;
}
#tablink{
    width: auto;
    height: 50px;
    background-color: #c8e6c9;
}
.tab{
    text-align: center;
    float: left;
    height: 50px;
    width: 25%;
    min-width: 220px;
    background-color: #c8e6c9;
}
.tabs{
    font-size: 15px;
    text-transform: uppercase;
}
.tabs:hover{
    background-color: #a5d6a7;
    font-weight: bold;
}
 /* Clear floats after the tabs */
.tab:after {
    content: "";
    display: table;
    clear: both;
}
#GTitle{
    font-size: 20px;
}
.column {
    float: left;
    min-width: 150px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
#graphinfo{
    font-size: 12px;
    margin-top: 5px;
    margin-left: 20px;
}
#Gline{
    background-color: #e1eeee;
    width: 1250px;
    height: 370px;
}